html, body{
    height: 100%;
    background-color: white;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid white;
}

.navbar .nav-item {
    color: #343a40;
    padding: 0.5rem 1rem;
}

.navbar .nav-item.home {
    font-weight: bold;
}

.navbar .form-control {
    border-color: #ced4da;
}

.container-account {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.text-center {
    text-align: center;
}
.account-info {
    padding: 20px;
}
.info-item {
    margin-bottom: 15px;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}

/*  STILE PAGINA HELP.PHP  */

.container-help {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
p {
    color: #666;
}
.contact-form {
    max-width: 400px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group textarea {
    height: 150px;
}
.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

select {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "FontAwesome";
}